/* alternate box model for the document */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ------------------------------------ */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*
* {
  border: 0.7px solid red;
}
*/

.section-1 {
  background-color: #1F2937;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 8%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
}

.header-logo {
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  display: flex;
  align-items: center;
}

.links {
  width: 50%;
  list-style: none;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  gap: 15px;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

a:visited {
  color: #E5E7EB;
  text-decoration: none;
}

a:link {
  color: #E5E7EB;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-main-text {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8;
}

.hero-extra-text {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up-btn {
  font-size: 18px;
  background-color: #3B82F6;
  color: #F9FAF8;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

.snail-img {
  border-radius: 10px;
}

.section-2 {
  background-color: white;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
  padding-top: 8%;
}

.information-header-text {
  font-size: 36px;
  font-weight: 1000;
  color: #1F2937;
  margin-bottom: 8%;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.placeholder {
  flex: 0 0 auto;
  height: 200px;
  width: 200px;
  border: 3px solid #3B82F6;
  border-radius: 10px;
}

.section-3 {
  background-color: #E5E7EB;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.cite {
  text-align: end;
  font-size: 24px;
  font-weight: 800;
}

.section-4 {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.call-to-action {
  background-color: #3B82F6;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.action-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.action-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-text {
  color: white;
  font-size: 18px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.action-btn {
  background-color: #3B82F6;
  border: 3px solid white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 8px 24px 8px 24px;
}

.footer {
  padding: 3% 12% 3% 12%;
  background-color: #1F2937;
  text-align: center;
  color: white;
  font-size: 16px;
}